@use "../../../styles/variables.scss";

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #0001;
    padding: 15px;

    min-height: 507px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

    background-color: variables.$color-300;

    &:hover {
        transform: scale(1.05);
        z-index: 2;
        cursor: pointer;
    }

    img {
        width: 100%;
        aspect-ratio: 3/4; // Mantém proporção fixa (opcional, ajuste conforme necessário)
        object-fit: cover;
        border-radius: 6px 6px 0 0;
        margin-bottom: 8px;
        display: block;
        min-height: 200px; // Garante altura mínima
        max-height: 350px; // Limita altura máxima
    }

    .filme {
        color: variables.$color-50;
        justify-content: end;
        text-align: center;
        white-space: nowrap;         // Não quebra linha
        overflow: hidden;            // Esconde o excesso
        text-overflow: ellipsis;     // Adiciona "..."
        width: 100%;                 // Garante que ocupe toda a largura do card
        display: block;              // Garante comportamento esperado

        .div-title {
            margin-bottom: 10px;
        }

        .div-ranking {
            margin-bottom: 10px;
        }
    }
}