<div class="modal-overlay">
    <div class="modal-sobre">
        <button class="close-modal" (click)="fecharModalSobre()">x</button>
        <section class="sobre-section">
            <div class="titulo-sobre">
                <h2>Sobre</h2>
            </div>
            <div class="sobre-content">
                <p> Este projeto foi desenvolvido para a disciplina de Aspectos em Banco de Dados 
                    e tem como objetivo aplicar os conceitos estudados por meio da construção de uma aplicação real. </p> <br>
                <p> A proposta consiste em uma interface que permite visualizar comentários e avaliações de clientes sobre filmes. </p> <br>
                <p> Para a implementação, escolhemos utilizar o Amazon DynamoDB como Sistema de Gerenciamento de Banco de Dados (SGBD), 
                    explorando suas características NoSQL, como alta escalabilidade, baixa latência e estrutura orientada a documentos. </p> <br>
                <p> A escolha do DynamoDB também permitiu o uso de chaves de partição e sort keys para organizar os dados de forma eficiente, 
                    além de integrar a aplicação com uma arquitetura moderna e baseada em serviços.</p>
            </div>
        </section>
    </div>
</div>