<div class="modal-card">
    <section class="info-section">
        <img src='/assets/svg/main-illustration.svg' alt="">
        <div class="infos-filme">
            <h2>Titulo</h2>
            <p>Nota</p>
            <p>Diretor</p>
            <p>Duração</p>
            <p>Lançamento</p>
        </div>
    </section>
    <section class="sinopse-section">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi blanditiis, placeat cumque reiciendis sint quibusdam illo molestiae, perferendis officia asperiores consequatur ad iste ab labore mollitia commodi. Sunt, aliquid rerum.</p>
    </section>
    <section class="comments-section">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis sed aliquam obcaecati. Architecto temporibus excepturi, non praesentium magni ea beatae mollitia eveniet vel dolorum corrupti maxime dolor animi magnam.</p>
    </section>
</div>