<div class="modal-overlay">
    <div class="modal-card">
        <button class="close-modal" (click)="fecharModal()">x</button>
        <section class="info-section">
            <img [src]='imagem' alt="">
            <div class="infos-filme">
                <h2>{{ titulo }}</h2>
                <p><b>Nota:</b> {{ nota }} / 5</p>
                <p><b>Diretor:</b> {{ diretor }}</p>
                <p><b>Duração:</b> {{ duracao }} min</p>
                <p><b>Gênero:</b> {{ genero }}</p>
                <p><b>País:</b> {{ pais }}</p>
                <p><b>Ano:</b> {{ lancamento }}</p>
            </div>
        </section>
        <section class="sinopse-section">
            <div>
                <span>{{ sinopse }}</span>
            </div>
        </section>
        <section class="comments-section">
            <div *ngFor="let comentario of comentarios">
                <p>
                    <strong>{{ comentario.cliente }}</strong> disse em 
                    <strong>{{ comentario.timestamp | date:'dd/MM/yyyy HH:mm' }}</strong>:
                </p>
                <p class="tabbed">{{ comentario.comment }}</p>
                <p class="tabbed"><strong>Nota:</strong> {{ comentario.rating }}</p>
            </div>
        </section>
    </div>
</div>