@use "../../../styles/variables.scss";

.modal-card {  
    position: relative;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: variables.$color-300;
    max-width: 900px;
    min-width: 320px;
    height: auto;
    max-height: 90vh;
    border-radius: 8px;
    padding: 30px;
    overflow-y: auto;

    line-height: normal;

    &::-webkit-scrollbar {
        display: none;
    }

    .info-section {
        display: flex;
        flex-direction: row;
        color: variables.$color-50;
        margin-bottom: 30px;
        gap: 30px;
        
    img {
        width: 50%;
        aspect-ratio: 3/4; // Mantém proporção fixa (opcional, ajuste conforme necessário)
        object-fit: cover;
        border-radius: 6px 6px 0 0;
        margin-bottom: 8px;
        display: block;
        min-height: 200px; // Garante altura mínima
        max-height: 350px; // Limita altura máxima
    }

        .infos-filme {
            width: 100%;
            flex-direction: column;
            display: flex;
            justify-content: flex-start;

            h2 {
                font-size: 36px;
                margin-bottom: 25px;
            }

            p {
                font-size: 26px;
                margin-bottom: 20px;
            }
        }
    }

    .sinopse-section {
        background-color: variables.$color-100;
        border-radius: 8px;
        display: flex;
        padding: 15px;
        margin-bottom: 20px;
    }
    
    .comments-section {
        background-color: variables.$color-50;
        border-radius: 8px;
        display: flex;
        padding: 15px;
    }

    .close-modal {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 24px;
        background: none;
        border: none;
        color: variables.$color-50;
        cursor: pointer;
        z-index: 1001;

        &:hover {
            color: red;
        }
    }

    // Responsividade para telas menores
    @media (max-width: 768px) {
        width: 90vw;
        padding: 15px;

        .info-section {
            flex-direction: column;
            gap: 15px;

            img {
                width: 100%;
                max-height: 200px;
            }
        }
    }
}