<div class="modal-overlay">
    <div class="modal-contato">
        <button class="close-modal" (click)="fecharModalContato()">x</button>
        <section class="contato-section">
            <div class="titulo-contato">
                <h2>Contato</h2>
            </div>
            <div class="nomes-ra">
                <p>Matheus da Silva Pener - 163954</p>
                <p>Renan Kohatsu - 163980</p>
                <p>Vinicius Matumoto Diogo - 156734</p>
            </div>
        </section>
    </div>
</div>