@use "../src/styles/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: variables.$color-500;
}

.tabbed {
    margin-left: 2em;
}